*{
    padding: 0px;
    margin: 0px;
}
#wrapper{
    width : 960px;
    height: 1080px;
    margin: 0px auto;
    /*background-color: black;*/
    
}
h1{
    margin-bottom: 20px;
}
#chatroom{
    border: 1px solid black;
    width: 960px;
    height: 600px;
    margin-bottom: 20px;
}
